[Unit]
Description=Run nft-forward DDNS whitelist sync periodically

[Timer]
OnBootSec=10s
OnUnitActiveSec=10s
AccuracySec=1s
Persistent=true

[Install]
WantedBy=timers.target
